:root {
    --background-color: #000;
    --primary-color: #cc0000;
    --accent-color: #3b4cca;
    --heading-weight: 900;
    --heading-font-style: oblique;
}

.page-container {
    margin-top: 30px;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 10%;
    padding: 10px;
    border: 6px groove var(--accent-color);
 }

h1 {
    font-weight: var(--heading-weight);
    font-style: var(--heading-font-style);
    text-align: center;
}

.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-button {
    width: 100%;
    padding: 12px;
    background-color: var(--background-color);
    color: var(--accent-color);
    border-color: var(--primary-color);
    font-weight: 500;
}

.pokemon-button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--background-color);
}

.pokemon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 75%;
    max-width: 1280px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
}

.pokemon-img {
    width: 150px;
    height: 150px;
}

.list-group-item {
    background: none;
    border: none;
}

.modal-content {
   background: var(--background-color);
   color: var(--primary-color);
}

.close {
    float: right;
    border: 0;
    background: none;
    color: var(--accent-color);
    cursor: pointer;
}