:root {
    --background-color: #000;
    --primary-color: #cc0000;
    --accent-color: #3b4cca;
    --heading-weight: lighter;
    --heading-font-style: oblique;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: var(--heading-weight);
    font-style: var(--heading-font-style);
}

body {
   background-color: var(--background-color);
   color: var(--primary-color);
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 20px 10%;
   padding: 10px;
   border: 6px groove var(--accent-color);
}

.button-style {
    background-color: var(--background-color);
    border: none;
    color: var(--primary-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--accent-color);
    border: 2px solid var(--primary-color);
}

li {
    list-style-type: none;
}